<div class="container">
    <div class="d-flex justify-content-center">
      <%= form_with(model: widget, local: true) do |form| %>
      <%= render 'partials/errors', obj: @widget %>
       <form class="pt-5">
            <div class="form-group">
               <%= form.label :body, for: "formgroup1" %>
                <%= form.text_area :body, rows: 3, class: "form-control", placeholder: "Body of ad" %>
            <div class="form-group">
            	<%= form.label :headline, for: "formgroup2" %>
            	<%= form.text_area :headline, class: "form-control", placeholder: "Headline" %>
            </div>
            <div class="form-group">
            	<%= form.label :caption, for: "formgroup3" %>
            	<%= form.text_area :caption, class: "form-control", placeholder: "Headline" %>
            </div>
            <div class="form-group">
            	<%= form.label :description, for: "formgroup4" %>
            	<%= form.text_area :description, rows: 3, class: "form-control", placeholder: "Description" %>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
              <%= form.submit "Save", class: "btn btn-primary" %>
        </form>
    </div>
</div>
  <% end %>